body {
  font-family: Arial;
  background: #f2f2f2;
}

.box,
.container {
  width: 420px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
}

.danger {
  background: red;
}

.item {
  background: #f9fafb;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
}

.link {
  color: #4f46e5;
  cursor: pointer;
}